* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --main-color: #f25341;
    --text-color: #35404e;
    --bg-color: #f9f9ff;
    --big-font: 3.6rem;
    --h2-font: 2.26rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 111;
    padding: 20px 320px;
    background: var(--bg-color);
    box-shadow: rgba(33, 35, 28, 0.1) 0px 10px 10px -10px;
}

.logo {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 20px;
    transition: color .4s;
}

.navlist a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}